<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>images-2.jpeg</string>
		<key>textMeme</key>
		<string>Albertino Angela rimorchia</string>
		<key>memeName</key>
		<string>Divulgazione</string>
		<key>objectName</key>
		<string>Caffe</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>images-2.jpeg</string>
		<key>textMeme</key>
		<string>Albertino Angela rimorchia</string>
		<key>memeName</key>
		<string>Divulgazione</string>
		<key>objectName</key>
		<string>Spazzatura</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>images-2.jpeg</string>
		<key>textMeme</key>
		<string>Albertino Angela rimorchia</string>
		<key>memeName</key>
		<string>Divulgazione</string>
		<key>objectName</key>
		<string>Scatola</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>images-2.jpeg</string>
		<key>textMeme</key>
		<string>Albertino Angela rimorchia</string>
		<key>memeName</key>
		<string>Divulgazione</string>
		<key>objectName</key>
		<string>Cuffie</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>images-2.jpeg</string>
		<key>textMeme</key>
		<string>Albertino Angela rimorchia</string>
		<key>memeName</key>
		<string>Divulgazione</string>
		<key>objectName</key>
		<string>Cuffie2</string>
	</dict>
</array>
</plist>
